<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Chain Responsive Bootstrap3 Admin</title>
    <link href="css/style.default.css" rel="stylesheet">
    <link href="css/jquery.tagsinput.css" rel="stylesheet" />
    <link href="css/toggles.css" rel="stylesheet" />
    <link href="css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="css/select2.css" rel="stylesheet" />
    <link href="css/colorpicker.css" rel="stylesheet" />
    <link href="css/dropzone.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <header>
        <div class="headerwrapper">
            <div class="header-left">
                <a href="index-2.html" class="logo">
                    <img src="images/logo.png" alt="" height="22px" />
                </a>
                <div class="pull-right">
                    <a href="#" class="menu-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>
            <!-- header-left -->
            <div class="header-right">
                <div class="pull-right">
                    <form class="form form-search" action="http://themepixels.com/demo/webpage/chain/search-results.html">
                        <input type="search" class="form-control" placeholder="Search" />
                    </form>
                    <div class="btn-group btn-group-list btn-group-notification">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge">5</span>
                        </button>
                        <div class="dropdown-menu pull-right">
                            <a href="#" class="link-right"><i class="fa fa-search"></i></a>
                            <h5>Notification</h5>
                            <ul class="media-list dropdown-list">
                                <li class="media">
                                    <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">
                                    <div class="media-body">
                                        <strong>Nusja Nawancali</strong> shared a photo of you in your <strong>Mobile Uploads</strong> album.
                                        <small class="date"><i class="fa fa-calendar"></i> July 02, 2014</small>
                                    </div>
                                </li>
                            </ul>
                            <div class="dropdown-footer text-center">
                                <a href="#" class="link">See All Notifications</a>
                            </div>
                        </div>
                        <!-- dropdown-menu -->
                    </div>
                    <!-- btn-group -->
                    <div class="btn-group btn-group-list btn-group-messages">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge">2</span>
                        </button>
                        <div class="dropdown-menu pull-right">
                            <a href="#" class="link-right"><i class="fa fa-plus"></i></a>
                            <h5>New Messages</h5>
                            <ul class="media-list dropdown-list">
                                <li class="media">
                                    <span class="badge badge-success">New</span>
                                    <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">
                                    <div class="media-body">
                                        <strong>Nusja Nawancali</strong>
                                        <p>Hi! How are you?...</p>
                                        <small class="date"><i class="fa fa-clock-o"></i> 15 minutes ago</small>
                                    </div>
                                </li>
                            </ul>
                            <div class="dropdown-footer text-center">
                                <a href="#" class="link">See All Messages</a>
                            </div>
                        </div>
                        <!-- dropdown-menu -->
                    </div>
                    <!-- btn-group -->
                    <div class="btn-group btn-group-option">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-star"></i> Activity Log</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="glyphicon glyphicon-log-out"></i>Sign Out</a></li>
                        </ul>
                    </div>
                    <!-- btn-group -->
                </div>
                <!-- pull-right -->
            </div>
            <!-- header-right -->
        </div>
        <!-- headerwrapper -->
    </header>
    <section>
        <div class="mainwrapper">
            <div class="leftpanel">
                <div class="media profile-left">
                    <a class="pull-left profile-thumb" href="profile.html">
                        <img class="img-circle" src="images/photos/profile.png" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Elen Adarna</h4>
                        <small class="text-muted">Beach Lover</small>
                    </div>
                </div>
                <!-- media -->
                <h5 class="leftpanel-title">Navigation</h5>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="index-2.html"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
                    </li>
                    <li class="parent"><a href="#"><i class="fa fa-edit"></i> <span>Forms</span></a>
                        <ul class="children">
                            <li><a href="general-forms.html">General Forms</a></li>
                        </ul>
                    </li>
                    <li><a href="#.html"><i class="fa fa-map-marker"></i> <span>Settings</span></a></li>
                    <li class="parent"><a href="#"><i class="fa fa-file-text"></i> <span>Pages</span></a>
                        <ul class="children">
                            <li><a href="notfound.html">404 Page</a></li>
                            <li><a href="blank.html">Blank Page</a></li>
                            <li><a href="calendar.html">Calendar</a></li>
                            <li><a href="invoice.html">Invoice</a></li>
                            <li><a href="locked.html">Locked Screen</a></li>
                            <li><a href="media-manager.html">Media Manager</a></li>
                            <li><a href="people-directory.html">People Directory</a></li>
                            <li><a href="profile.html">Profile</a></li>
                            <li><a href="search-results.html">Search Results</a></li>
                            <li><a href="signin.html">Sign In</a></li>
                            <li><a href="signup.html">Sign Up</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- leftpanel -->
            <div class="mainpanel">
                <div class="pageheader">
                    <div class="media">
                        <div class="pageicon pull-left">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <div class="media-body">
                            <ul class="breadcrumb">
                                <li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
                                <li><a href="#">Forms</a></li>
                                <li>General Forms</li>
                            </ul>
                            <h4>General Forms</h4>
                        </div>
                    </div>
                    <!-- media -->
                </div>
                <!-- pageheader -->
                <div class="contentpanel">
                    <div class="row">
                        <div class="col">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-btns">
                                        <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="Minimize Panel"><i class="fa fa-minus"></i></a>
                                        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                                    </div>
                                    <!-- panel-btns -->
                                    <h4 class="panel-title">Please Fill up the details to make payment</h4>
                                </div>
                                <!-- panel-heading -->
                                <div class="panel-body nopadding">
                                    <form>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Amount</label>
                                            <div class="col-sm-8">
                                                <input type="text" ng-model="transaction.amount" placeholder="Enter Amount" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Category</label>
                                            <div class="col-sm-8">
                                                <input type="text" ng-model="transaction.category_id" placeholder="Enter Category " class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Description</label>
                                            <div class="col-sm-8">
                                                <input type="text" ng-model="transaction.description" placeholder="Enter  Description" class="form-control" />
                                            </div>
                                        </div>
                                        <button type="submit" ng-click="add_transaction(transaction)">Transaction</button>
                                        <br>
                                    </form>
                                </div>
                                <!-- panel-body -->
                            </div>
                            <!-- panel -->
                        </div>
                        <!-- col-md-6 -->
                    </div>
                    <!-- row -->
                </div>
                <!-- contentpanel -->
            </div>
        </div>
        <!-- mainwrapper -->
    </section>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/jquery-ui-1.10.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.min.js"></script>
    <script src="js/pace.min.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/jquery.cookies.js"></script>
    <script src="js/jquery.autogrow-textarea.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/jquery.tagsinput.min.js"></script>
    <script src="js/toggles.min.js"></script>
    <script src="js/bootstrap-timepicker.min.js"></script>
    <script src="js/jquery.maskedinput.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/colorpicker.js"></script>
    <script src="js/dropzone.min.js"></script>
    <script src="js/custom.js"></script>
    <script>
    jQuery(document).ready(function() {

        // Tags Input
        jQuery('#tags').tagsInput({
            width: 'auto'
        });

        // Textarea Autogrow
        jQuery('#autoResizeTA').autogrow();

        // Spinner
        var spinner = jQuery('#spinner').spinner();
        spinner.spinner('value', 0);

        // Form Toggles
        jQuery('.toggle').toggles({
            on: true
        });

        // Time Picker
        jQuery('#timepicker').timepicker({
            defaultTIme: false
        });
        jQuery('#timepicker2').timepicker({
            showMeridian: false
        });
        jQuery('#timepicker3').timepicker({
            minuteStep: 15
        });

        // Date Picker
        jQuery('#datepicker').datepicker();
        jQuery('#datepicker-inline').datepicker();
        jQuery('#datepicker-multiple').datepicker({
            numberOfMonths: 3,
            showButtonPanel: true
        });

        // Input Masks
        jQuery("#date").mask("99/99/9999");
        jQuery("#phone").mask("(999) 999-9999");
        jQuery("#ssn").mask("999-99-9999");

        // Select2
        jQuery("#select-basic, #select-multi").select2();
        jQuery('#select-search-hide').select2({
            minimumResultsForSearch: -1
        });

        function format(item) {
            return '<i class="fa ' + ((item.element[0].getAttribute('rel') === undefined) ? "" : item.element[0].getAttribute('rel')) + ' mr10"></i>' + item.text;
        }

        // This will empty first option in select to enable placeholder
        jQuery('select option:first-child').text('');

        jQuery("#select-templating").select2({
            formatResult: format,
            formatSelection: format,
            escapeMarkup: function(m) {
                return m;
            }
        });

        // Color Picker
        if (jQuery('#colorpicker').length > 0) {
            jQuery('#colorSelector').ColorPicker({
                onShow: function(colpkr) {
                    jQuery(colpkr).fadeIn(500);
                    return false;
                },
                onHide: function(colpkr) {
                    jQuery(colpkr).fadeOut(500);
                    return false;
                },
                onChange: function(hsb, hex, rgb) {
                    jQuery('#colorSelector span').css('backgroundColor', '#' + hex);
                    jQuery('#colorpicker').val('#' + hex);
                }
            });
        }

        // Color Picker Flat Mode
        jQuery('#colorpickerholder').ColorPicker({
            flat: true,
            onChange: function(hsb, hex, rgb) {
                jQuery('#colorpicker3').val('#' + hex);
            }
        });


    });
    </script>
</body>

</html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="js/mainController.js"></script>